build: [
  ["opam" "repository" "add" "tarides" "git@github.com:tarides/opam-repository.git"]
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test}
    "@doc" {with-doc}
  ]
]
